@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	color: #ededed;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #000000;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	position: relative;
	text-decoration: none;
	size: 500px;
	
}

.navbar a {
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	margin-left: 35px;
	transition: .3s;
	
}

.navbar a:hover,
.navbar a.active {
	color: #00abf0;
}


.marquee-container {
    position: center;
}

.marquee-text {
	font-family: "Adobe Caslon Pro Bold; sans-serif";
	font-size: 12px;
 	position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background-color: #00abf0;
    white-space: nowrap;
}

/* Project */

.jarak{
	margin-top: 200px;
}

.container {
	flex-direction: column;
	display: inline-block;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	
}

.card {
	width: 325px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: transform 0.4s ease;
}

.card:hover{
	transform: scale(1.05);
}
.card-image {
	width: 100%;
}

.card-image img{
	width: 100%;
	height: auto;
}

.content{
	padding: 20px;
}

.content h3{
	font-size: 26px;
	margin-bottom: 10px;
	color: #000000;
}

.content p{
	font-size: 16px;
	margin-bottom: 20px;
	color: #000000;
}

.content .button{
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: 0.3s ease;

}

.content .button:hover{
	background-color: #0056b3;
}


